.social-media-wrap {
    display: flex;
    max-width: 200px;
    align-items: flex-end;
    flex-direction: column;
}

.social-icon {
    height: 30px;
}

.social-facebook>.social-icon {
    height: 25px;
}

.social-facebook,
.social-instagram,
.social-linkedIn {
    width: 55px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4868ad;
    transition: all 0.5s ease;
    user-select: none;
}

.social-instagram {
    background: radial-gradient(circle at 25% 110%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%), radial-gradient(circle at 25% 110%, #b9a800 0, #938500 5%, #b10f00 45%, #8c0061 60%, #002ca9 90%);
}

.social-linkedIn {
    background: #0084b1;
}

.social-facebook:hover {
    width: 65px;
}

.social-instagram:hover {
    width: 65px;
}

.social-linkedIn:hover {
    width: 65px;
}

@media only screen and (max-width: 750px) {
    .social-facebook:hover {
        height: 60px;
    }
    .social-instagram:hover {
        height: 60px;
    }
    .social-linkedIn:hover {
        height: 60px;
    }
}