
@font-face {
  font-family: 'Tele-Grotesk-Norm';
  src: url('Tele-Grotesk-Norm.eot?#iefix') format('embedded-opentype'),  url('Tele-Grotesk-Norm.woff') format('woff'), url('Tele-Grotesk-Norm.ttf')  format('truetype'), url('Tele-Grotesk-Norm.svg#Tele-Grotesk-Norm') format('svg');
  font-weight: normal;
  font-style: normal;
}
